@media only screen and (max-width: 768px) {
	.overlay {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		background-color: #1fbc56;
		overflow-x: hidden;
		transition: 0.5s;
	}

	.overlay.is-active {
		width: 100%;
	}

	.overlay-content {
		position: relative;
		top: 25%;
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}

	.overlay-content a {
		font-family: Norwester;
	}
	
	.overlay a {
		padding: 8px;
		text-decoration: none;
		font-size: 36px;
		color: white;
		display: block;
		transition: 0.3s;
	}

	.overlay a:hover {
		color: #6F339B;
	}

	.navbar-burger span {
		font-family: Montserrat;
		font-weight: 200;
	}

	.navbar-burger.is-active span:nth-child(1) {
		color: white;
	}

	.navbar-burger.is-active span:nth-child(3) {
		color: white;
	}
}

@media only screen and (min-width: 769px) {
	.overlay-content a {
		font-family: Montserrat;
		font-weight: 200;
	}	
}

.navbar {
	background-color: transparent;
}

.navbar-end a.navbar-item {
	background-color: transparent;
}

.navbar-burger {
	z-index: 999;
}

.navbar-burger span {
	color: #818181;
}

.navbar-burger span:nth-child(1) {
  width:15px;
  -webkit-transform: translate(1px);
	-moz-transform: translate(1px);
	-ms-transform: translate(1px);
	-o-transform: translate(1px);
	transform: translate(1px);
	animation-name: counterClockwise;
	animation-duration: 500ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

.navbar-burger span:nth-child(2) {
  width:19px;
  -webkit-transform: translate(-3px);
	-moz-transform: translate(-3px);
	-ms-transform: translate(-3px);
	-o-transform: translate(-3px);
	transform: translate(-3px);
	animation-name: fadeIn;
	animation-duration: 2000ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

.navbar-burger span:nth-child(3) {
  width:12px;
  -webkit-transform: translate(4px);
	-moz-transform: translate(4px);
	-ms-transform: translate(4px);
	-o-transform: translate(4px);
	transform: translate(4px);
	animation-name: clockwise;
	animation-duration: 500ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

.navbar-burger.is-active span:nth-child(1) {
	width: 25px;
	animation-name: clockwise;
	animation-duration: 500ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

.navbar-burger.is-active span:nth-child(3) {
	width: 25px;
	animation-name: counterClockwise;
	animation-duration: 500ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

.logo {
	font-family: Norwester;
}

@keyframes clockwise {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(720deg);
	}
}

@keyframes fadeIn {
	from {opacity:0;}
	to {opacity:1;}
}

@keyframes counterClockwise {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-720deg);
	}
}