@media only screen and (max-width: 767px) {
  .line__label {
    transform: rotateY(45deg);
  }
}

.skill-section {
  background: linear-gradient(to bottom, #0a3e1c 18%, #157d39 79%, #1fbc56)
}

.skill-section h1 {
  margin-bottom: 5rem;
  font-family: Norwester;
  padding-top: 50px;
}

.skill-section h4 {
  font-family: Montserrat;
  font-weight: 100;
}

.skill-graph {
  margin-top: 60px;
  padding-bottom: 60px;
}

.clipBackground {
  clip-path: polygon(0 40px, 100% 0, 100% 95%, 0% 100%);
  transform: translateY(-41px)
}

.skills {
  width: 80%;
  max-width: 960px;
  height: 400px;
  margin: auto;
  position: relative;
  margin-bottom: 50px;
  font-family: Montserrat;
  font-weight: 300;
}

.content ul {
  list-style-type: none;
  z-index: 10;
}

.lines {
  height: 100%;
  position: relative;
}

.line {
  height: inherit;
  width: 2px;
  position: absolute;
  background: rgba(238, 238, 238, 0.6);
}

.l--0 {
  left: 0;
}

.l--25 {
  left: 25%;
}

.l--50 {
  left: 50%;
}

.l--75 {
  left: 75%;
}

.l--100 {
  left: calc(100% - 1px);
}

.line__label {
  display: block;
  width: 100px;
  text-align: center;
  position: absolute;
  bottom: -20px;
  right: -50px;
}

.charts {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: hsl(0, 0%, 86%);
}

.chart {
  margin: 30px 0 0;
}

.chart:first-child {
  margin: 0;
}

.chart__title {
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;
}

.chart--dev {
  animation-delay: 3.3s;
}

.chart--prod {
  animation-delay: 3.3s;
}

.chart--design {
  animation-delay: 4.5s;
}

.chart--horiz {
  overflow: hidden;
}

.chart__bar {
  height: 30px;
  margin-bottom: 10px;
  background: linear-gradient(to left, #4cb8c4, #3cd3aa);
}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}

.list-item {
  animation-name: eachTechItem;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
}

.chart ul li.list-item {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 0;
}

.item {
  opacity: 0;
  animation-name: revealItem;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes revealItem {
  from {opacity:0;}
  to {opacity:1;}
}

@keyframes eachTechItem {
  from {width:0%;}
  to {opacity:1;}
}
